
    <main class="main-wrapper">

        <!-- ...:::Start User Event Section:::... -->
        <div class="header-section">
            <div class="container">
                <!-- Start User Event Area -->
                <div class="header-area">
                    <div class="header-top-area header-top-area--style-1">
                        <ul class="event-list">
                            <li class="list-item"><a href="#mobile-menu-offcanvas" area-label="mobile menu offcanvas svg icon" class="btn btn--size-33-33 btn--center btn--round btn--color-radical-red btn--bg-white btn--box-shadow main-menu offcanvas-toggle offside-menu">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                        <g id="Group_1" data-name="Group 1" transform="translate(-28 -63)">
                                            <path id="Rectangle_3" data-name="Rectangle 3" d="M0,0H5A2,2,0,0,1,7,2V5A2,2,0,0,1,5,7H2A2,2,0,0,1,0,5V0A0,0,0,0,1,0,0Z" transform="translate(28 63)" fill="#ff375f" />
                                            <path id="Rectangle_6" data-name="Rectangle 6" d="M2,0H5A2,2,0,0,1,7,2V5A2,2,0,0,1,5,7H0A0,0,0,0,1,0,7V2A2,2,0,0,1,2,0Z" transform="translate(28 72)" fill="#ff375f" />
                                            <path id="Rectangle_4" data-name="Rectangle 4" d="M2,0H7A0,0,0,0,1,7,0V5A2,2,0,0,1,5,7H2A2,2,0,0,1,0,5V2A2,2,0,0,1,2,0Z" transform="translate(37 63)" fill="#ff375f" />
                                            <path id="Rectangle_5" data-name="Rectangle 5" d="M2,0H5A2,2,0,0,1,7,2V7A0,0,0,0,1,7,7H2A2,2,0,0,1,0,5V2A2,2,0,0,1,2,0Z" transform="translate(37 72)" fill="#ff375f" />
                                        </g>
                                    </svg>
                                </a></li>
                            <li class="list-item">
                                <h2 class="title text-center">Cart</h2>
                            </li>
                            <li class="list-item">
                                <ul class="list-child">
                                    <li class="list-item">
                                        <span class="notch-bg notch-bg--sunset-orange"></span>
                                        <a href="cart" area-label="Cart" class="btn btn--size-33-33 btn--center btn--round btn--color-radical-red btn--bg-white btn--box-shadow"><i
                                        class="icon icon-carce-cart"></i></a>
                                    </li>
                                    <li class="list-item">
                                        <span class="notch-bg notch-bg--emerald"></span>
                                        <a href="#profile-menu-offcanvas" area-label="User" class="btn btn--size-33-33 btn--center btn--round offcanvas-toggle offside-menu">
                                            <img class="img-fluid" height="33" width="33" src="assets/images/header-top-user-img.jpg" alt="user image"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End User Event Area -->
            </div>
        </div>
        <!-- ...:::End User Event Section:::... -->
    <%- include('partials/profileMenu') %>
      <%- include('partials/mobileMenu') %>
      <%- include('components/categories') %>
        <!-- ...:::Start Cart Section:::... -->
        <div class="cart-section section-gap-top-30">
            <div class="container">
                <div class="cart-items-wrapper">
                    <ul class="cart-item-list">
                        <!-- Start Single Cart Item -->
                        <li class="single-cart-item">
                            <div class="image">
                                <img width="90" height="90" src="assets/images/product/small/product-1-small-1.png" alt="image">
                            </div>
                            <div class="content">
                                <button class="delete-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 464c-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216 0 118.7-96.1 216-216 216zm94.8-285.3L281.5 256l69.3 69.3c4.7 4.7 4.7 12.3 0 17l-8.5 8.5c-4.7 4.7-12.3 4.7-17 0L256 281.5l-69.3 69.3c-4.7 4.7-12.3 4.7-17 0l-8.5-8.5c-4.7-4.7-4.7-12.3 0-17l69.3-69.3-69.3-69.3c-4.7-4.7-4.7-12.3 0-17l8.5-8.5c4.7-4.7 12.3-4.7 17 0l69.3 69.3 69.3-69.3c4.7-4.7 12.3-4.7 17 0l8.5 8.5c4.6 4.7 4.6 12.3 0 17z" />
                                    </svg>
                                </button>
                                <a href="single-product" class="title">Cat sports mans shoe</a>
                                <div class="details">
                                    <div class="left">
                                        <span class="brand">Rebook</span>
                                        <span class="price">$500.00</span>
                                    </div>
                                    <div class="right">
                                        <div class="product-quantity">
                                            <div class="num-block skin-2">
                                                <div class="num-in">
                                                    <span class="minus dis"></span>
                                                    <label for="quan-1" class="visually-hidden"></label>
                                                    <input id="quan-1" type="text" class="in-num" value="1" readonly="">
                                                    <span class="plus"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- End Single Cart Item -->
                        <!-- Start Single Cart Item -->
                        <li class="single-cart-item">
                            <div class="image">
                                <img width="90" height="90" src="assets/images/product/small/product-1-small-2.png" alt="image">
                            </div>
                            <div class="content">
                                <button class="delete-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 464c-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216 0 118.7-96.1 216-216 216zm94.8-285.3L281.5 256l69.3 69.3c4.7 4.7 4.7 12.3 0 17l-8.5 8.5c-4.7 4.7-12.3 4.7-17 0L256 281.5l-69.3 69.3c-4.7 4.7-12.3 4.7-17 0l-8.5-8.5c-4.7-4.7-4.7-12.3 0-17l69.3-69.3-69.3-69.3c-4.7-4.7-4.7-12.3 0-17l8.5-8.5c4.7-4.7 12.3-4.7 17 0l69.3 69.3 69.3-69.3c4.7-4.7 12.3-4.7 17 0l8.5 8.5c4.6 4.7 4.6 12.3 0 17z" />
                                    </svg>
                                </button>
                                <a href="single-product" class="title">Nikka sports mans shoe</a>
                                <div class="details">
                                    <div class="left">
                                        <span class="brand">Nikka</span>
                                        <span class="price">$450.00</span>
                                    </div>
                                    <div class="right">
                                        <div class="product-quantity">
                                            <div class="num-block skin-2">
                                                <div class="num-in">
                                                    <span class="minus dis"></span>
                                                    <label for="quan-1" class="visually-hidden"></label>
                                                    <input id="quan-1" type="text" class="in-num" value="4" readonly="">
                                                    <span class="plus"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- End Single Cart Item -->
                        <!-- Start Single Cart Item -->
                        <li class="single-cart-item">
                            <div class="image">
                                <img width="90" height="90" src="assets/images/product/small/product-1-small-3.png" alt="image">
                            </div>
                            <div class="content">
                                <button class="delete-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 464c-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216 0 118.7-96.1 216-216 216zm94.8-285.3L281.5 256l69.3 69.3c4.7 4.7 4.7 12.3 0 17l-8.5 8.5c-4.7 4.7-12.3 4.7-17 0L256 281.5l-69.3 69.3c-4.7 4.7-12.3 4.7-17 0l-8.5-8.5c-4.7-4.7-4.7-12.3 0-17l69.3-69.3-69.3-69.3c-4.7-4.7-4.7-12.3 0-17l8.5-8.5c4.7-4.7 12.3-4.7 17 0l69.3 69.3 69.3-69.3c4.7-4.7 12.3-4.7 17 0l8.5 8.5c4.6 4.7 4.6 12.3 0 17z" />
                                    </svg>
                                </button>
                                <a href="single-product" class="title">Adur sports shoe</a>
                                <div class="details">
                                    <div class="left">
                                        <span class="brand">Rebook</span>
                                        <span class="price">$399.00</span>
                                    </div>
                                    <div class="right">
                                        <div class="product-quantity">
                                            <div class="num-block skin-2">
                                                <div class="num-in">
                                                    <span class="minus dis"></span>
                                                    <label for="quan-1" class="visually-hidden"></label>
                                                    <input id="quan-1" type="text" class="in-num" value="1" readonly="">
                                                    <span class="plus"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- End Single Cart Item -->
                        <!-- Start Single Cart Item -->
                        <li class="single-cart-item">
                            <div class="image">
                                <img width="90" height="90" src="assets/images/product/small/product-1-small-4.png" alt="image">
                            </div>
                            <div class="content">
                                <button class="delete-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 464c-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216 0 118.7-96.1 216-216 216zm94.8-285.3L281.5 256l69.3 69.3c4.7 4.7 4.7 12.3 0 17l-8.5 8.5c-4.7 4.7-12.3 4.7-17 0L256 281.5l-69.3 69.3c-4.7 4.7-12.3 4.7-17 0l-8.5-8.5c-4.7-4.7-4.7-12.3 0-17l69.3-69.3-69.3-69.3c-4.7-4.7-4.7-12.3 0-17l8.5-8.5c4.7-4.7 12.3-4.7 17 0l69.3 69.3 69.3-69.3c4.7-4.7 12.3-4.7 17 0l8.5 8.5c4.6 4.7 4.6 12.3 0 17z" />
                                    </svg>
                                </button>
                                <a href="single-product" class="title">Fnik sports mans shoe</a>
                                <div class="details">
                                    <div class="left">
                                        <span class="brand">Rebook</span>
                                        <span class="price">$410.00</span>
                                    </div>
                                    <div class="right">
                                        <div class="product-quantity">
                                            <div class="num-block skin-2">
                                                <div class="num-in">
                                                    <span class="minus dis"></span>
                                                    <label for="quan-1" class="visually-hidden"></label>
                                                    <input id="quan-1" type="text" class="in-num" value="2" readonly="">
                                                    <span class="plus"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- End Single Cart Item -->
                    </ul>

                    <ul class="cart-info-list">
                        <li class="cart-info-single-list">
                            <ul class="cart-info-child">
                                <li class="item"><span class="text-left">Subtotal</span> <span
										class="text-right">$4000.00</span></li>
                            </ul>
                        </li>
                        <li class="cart-info-single-list">
                            <ul class="cart-info-child">
                                <li class="item"><span class="text-left">Shipping</span> <span
										class="text-right">$100.00</span></li>
                                <li class="item"><span class="text-left">Tax</span> <span
										class="text-right">$40.00</span></li>
                            </ul>
                        </li>
                        <li class="cart-info-single-list">
                            <ul class="cart-info-child">
                                <li class="item"><span class="text-left">Grand Total</span> <span
										class="total-price">$4140.00</span>
                                    <a href="checkout" class="btn"><span class="icon"><i
												class="icon icon-carce-check-circle"></i></span>Check out</a>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ...:::End Cart Section:::... -->
         <%- include('partials/footerNav') %> 
    </main>

 