

    <main class="main-wrapper">
        <!-- ...:::Start Login Section:::... -->
        <div class="login-section">
            <div class="container">
                <!-- Start User Event Area -->
                <div class="login-wrapper">
                    <div class="section-content">
                        <h1 class="title">Welcome Back</h1>
                        <p>Login with your account to continue.</p>
                    </div>
                    <form action="/api/login" class="default-form-wrapper">
                        <ul class="default-form-list">
                            <li class="single-form-item">
                                <label for="name" class="visually-hidden">Name</label>
                                <input type="text" id="name" placeholder="username" value="demo@gmail.com">
                                <span class="icon"><i class="icon icon-carce-user"></i></span>
                            </li>
                            <li class="single-form-item">
                                <label for="password" class="visually-hidden">Password</label>
                                <input type="password" id="password" placeholder="password" value="test1234">
                                <span class="icon"><i class="icon icon-carce-eye"></i></span>
                            </li>
                        </ul>
                    </form>
                    <a href="register" class="forgot-link">Forgot Password?</a>

                    <a href="/" class="btn btn--block btn--radius btn--size-xlarge btn--color-white btn--bg-maya-blue text-center">LogIn</a>
                    <span class="devide-text">or</span>
                    <a href="https://www.facebook.com/login/" class="btn btn--social-large btn--block btn--radius btn--size-xlarge btn--color-white btn--bg-dodger-blue"><span class="icon"><i class="icon icon-carce-facebook"></i></span>Continue with Facebook</a>
                    <a href="https://myaccount.google.com/" class="btn btn--social-large btn--block btn--radius btn--size-xlarge btn--color-white btn--bg-red-orange"><span class="icon"><i class="icon icon-carce-google"></i></span>Continue with Google</a>
                </div>

                <div class="create-account-text text-center">Don't have an account? <a href="register" class="btn--color-radical-red">Create now</a></div>
                <!-- End User Event Area -->
                <div class="page-progress-wrapper">
                    <a href="register" class="btn--center btn--round btn--size-58-58 btn--color-white btn--radical-red progress-btn progress-btn--50"><i class="icon icon-carce-ios-arrow-forward"></i></a>
                </div>
            </div>
        </div>
        <!-- ...:::End User Event Section:::... -->

    </main>



    <script defer>
        // const form = document.querySelector('.default-form-wrapper');
        // form.addEventListener("submit",(e)=>{
        //     e.preventDefault();

        //     const formData = new FormData(form);
        //     const data = Object.fromEntries(formData.entries());
        //     console.log(data);
        //     fetch('/login',{
        //         method: 'POST',
        //         headers: {
        //             ...form.enctype,
        //         },
        //         body: JSON.stringify({...data})
        //     })
        // })
    </script>