<%= success %>
    <main class="main-wrapper">

        <!-- ...:::Start Login Section:::... -->
        <div class="intro-section">
            <div class="intro-wrapper">
                <div class="logo">
                    <a href="index" class="image">
                        <img class="img-fluid" width="147" height="26" src="assets/images/logo.png" alt="">
                    </a>
                    <span class="">Carce eCommece mobile app.</span>
                </div>

                <div class="intro-bg">
                    <img class="img-fluid" width="308" height="257" src="assets/images/intro-bg.png" alt="">
                </div>
                <p class="intro-text">Carce is a one-stop online shop for all of your needs. Buy the latest products
                    from popular brands!</p>
                <a href="login" class="btn--center btn--round btn--size-58-58 btn--color-white btn--radical-red progress-btn progress-btn--25">
                    <i class="icon icon-carce-ios-arrow-forward"></i></a>
                <a href="index" class="skip-btn">skip</a>
            </div>
            <!-- <div class="page-progress-wrapper">
               
            </div> -->
        </div>
        <!-- ...:::End User Event Section:::... -->

    </main>

