    <!-- ...:::Start User Event Section:::... -->
        <div class="user-event-section">
            <!-- Start User Event Area -->
            <div class="col pos-relative">

                <div class="user-event-area">
                    <div class="user-event user-event--left">
                        <a area-label="event link icon" href="/" class="event-btn-link"><i
                        class="icon icon-carce-home"></i></a>
                        <a area-label="wishlist icon" href="/wishlist" class="event-btn-link"><i
                        class="icon icon-carce-heart"></i></a>
                    </div>
                    <div class="user-event user-event--center">
                        <a area-label="cart icon" href="/cart" class="event-btn-link"><i
                        class="icon icon-carce-cart"></i></a>
                    </div>
                    <div class="user-event user-event--right">
                        <a area-label="order icon" href="/order" class="event-btn-link"><i
                        class="icon icon-carce-compare"></i></a>
                        <a area-label="chat icon" href="/chat" class="event-btn-link"><i
                        class="icon icon-carce-bubbles2"></i></a>
                    </div>
                </div>
            </div>
            <!-- End User Event Area -->
        </div>
        <!-- ...:::End User Event Section:::... -->

        <footer class="footer-section"></footer>