        <!-- ...:::Start Catagories Section:::... -->
        <div class="catagories-section section-gap-top-25">
            <div class="container">
                <div class="catagories-area">
                    <div class="catagories-nav-2">
                        <!-- Slider main container -->
                        <div class="swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <a href="shop.html" class="btn">Home Furniture</a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="shop.html" class="btn">Office Furniture</a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="shop.html" class="btn">Office Furniture</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ...:::End Catagories Section:::... -->